################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YoloDotNet/.vs/MLNetSamples
/YoloDotNet/YoloDotNetApi/MLModels/Yolo/yolov2-coco-9.onnx
/YoloDotNet/YoloDotNetApi/bin/Debug/netcoreapp3.1
YoloDotNetApi/bin/Debug/netcoreapp3.1/
YoloDotNetApi/obj/Debug/netcoreapp3.1/
/YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1
/YoloDotNet/YoloDotNetApi/obj
YoloDotNet/.vs
.DS_Store
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
