################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/YoloDotNet/.vs/MLNetSamples
/YoloDotNet/YoloDotNetApi/MLModels/Yolo/yolov2-coco-9.onnx
/YoloDotNet/YoloDotNetApi/bin/Debug/netcoreapp3.1
YoloDotNetApi/bin/Debug/netcoreapp3.1/
YoloDotNetApi/obj/Debug/netcoreapp3.1/
/YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1
/YoloDotNet/YoloDotNetApi/obj
YoloDotNet/.vs
.DS_Store
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json

/MLNetSamples/.vs/MLNetSamples
/MLNetSamples/MLNetSamplesApi/MLModels/Yolo/yolov2-coco-9.onnx
/MLNetSamples/MLNetSamplesApi/bin/Debug/netcoreapp3.1
/MLNetSamples/MLNetSamplesApi/obj/Debug/netcoreapp3.1
/MLNetSamples/MLNetSamplesCore/bin/Debug/netstandard2.1
/MLNetSamples/MLNetSamplesCore/obj
/MLNetSamples/MLNetSamplesApi/obj
YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1/project.razor.json
YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1/YoloDotNetApi.AssemblyInfo.cs
YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1/YoloDotNetApi.csprojAssemblyReference.cache
YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1/YoloDotNetApi.AssemblyInfoInputs.cache
YoloDotNet/YoloDotNetApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

